/* ==========================================================================
   NORMALIZE BROWSERS
   ========================================================================== */
body, section, ul {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

body {
    background: #1e1e1e;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    font-size: 1em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 10em;
}

h2, p, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:active, a:visited {
    color: #073cdf;
}

a:hover {
    color: #006cff;
    text-decoration: line-through;
}

.iridian {
    color: #073cdf;
}

img {
    max-width: 80%;
    height: auto;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

nav {
    width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    width: 100%;
    overflow: auto;
}

nav li {
    float: left;
    width: 33.33%;
}

.logo {
    width: 200px;
    height: 200px;
}

/* ==========================================================================
   PROJECT PAGE
   ========================================================================== */

section.project {
    padding-bottom: 10em;
}

/* ==========================================================================
   CONTACT PAGE
   ========================================================================== */

section#contact {
    margin-top: 5em;
    margin-bottom: 5em;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
    font-size: .5em;
    text-align: left;
    background: #0f0f0f;
    padding: 1em 2em;
}

footer p {
    width: 100%;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 1280px) {
    /* Style adjustments for viewports that meet the condition */
    
    h2, p {
        font-size: 3em;
        width: 50%;
    }
    
    img {
        max-width: 40%;
    }
}