# node.js
node_modules

# os
.DS_Store

# kirby
kirby-3.9.5-backup

# media files
app/media
app/assets
dev/assets
app/content/
app/video

# temporary removal
utils
!dev/js/three/utils

# build files
app/assets/bundle

# security sensitive
app/.htaccess
app/index.php
app/favicon.ico
app/favicon.png
app/favicon.psd
bundler/localpaths.config.js
dev/apache_conf/*.*

# remove library files
dev/libs
