<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="app/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnRisky="true"
         colors="true">
    <testsuites>
        <testsuite name="app/site">
            <directory suffix="Test.php">tests/php</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>known-bug</group>
        </exclude>
    </groups>
</phpunit>
