@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// ABOUT PAGE
// --------------------------------------------------------------------------- //

// Background Dark
.page--about {
    .article__main {
        padding-top: 2em;
    }

    .article__main p:first-of-type {
        padding-bottom: 0;
    }

    .section__main {
        background: var(--color-bg-darkgray);
        color: var(--color-white);
        margin-top: 4vw;
    }

    .footer.section__main {
        margin-top: 0;
    }
}

.moods li {
    padding: .5rem 0;
}

.linklist p {
    float: left;
    width: 100%;
}

h3 {
    margin-bottom: 1em;
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 768px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 768px) {
    .moods ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .moods li {
        padding: 0;
    }

    .moods .full {
        grid-column: span 2;
    }

    .moods .quarter {
        grid-column: span 1;
    }
}