/* STYLESHEET: TEMPLATE - COLOR DEFINITIONS */

:root {
    --color-silver-light: #e6e6e6; 
    --color-silver: #CBCBCB; // used
    --color-silver-medium: #b9babd; 
    --color-silver-dark: #343434; // used
    --color-white: #fafafa;
    --color-offwhite: #f6f6f6;
    --color-beige: #f5f4ee;
    --color-brown: #9D7C69;
    --color-black: #0f0e0e; 
    --color-blue: #0000ff;
    --color-lightgray: #dcdbd6;
    --color-darkgray: #1f1f1f;
    --color-beige-light: #e8e0d3;

    --color-bg-silver-light: #e0e1e2; // used
    --color-bg-silver: #535353; // used
    --color-bg-black: #0f0e0e;
    --color-bg-gray: #242323; // used
    --color-bg-darkgray: #141414; // used

    --color-bg-light: var(--color-beige);
}  

/* COLORS FOR LIGHTMODE */
html.lightmode {
	background: var(--color-bg-light);
	color: var(--color-black);

    .section__bodycopy--divider,
    .divider__box {
        background-color: var(--color-black);
    }

    .section__meta-information:hover {
        color: var(--color-black);
    }

    .section__headline { 
        color: var(--color-offwhite);
    }
}

html.lightmode.page--about .section__headline,
html.lightmode.page--disclaimer .section__headline,
html.lightmode.page--imprint .section__headline,
html.lightmode.page--privacy .section__headline { 
    color: var(--color-black);
}

/* COLORS FOR DARKMODE */
html.darkmode {
	background: var(--color-bg-black);
	color: var(--color-silver);

    .section__bodycopy--divider,
    .divider__box {
        background-color: var(--color-silver);
    }

    .section__meta-information:hover {
        color: var(--color-white);
    }

    .section__headline { 
        color: var(--color-silver);
    }
}

html.darkmode.page--about .section__headline,
html.darkmode.page--disclaimer .section__headline,
html.darkmode.page--imprint .section__headline,
html.darkmode.page--privacy .section__headline { 
    color: var(--color-silver);
}