/* STYLESHEET: SECTION - FOOTER */

.footer {
    padding-top: 4vw;
    padding-bottom: 2vw;
    text-transform: uppercase;

    .large__quote {
        font-size: 1.75em;
        line-height: 100%;
    }
    
    .menu {
        font-size: .7em;
    }

    .menu,
    .menu a {
        color: var(--color-silver-dark);
        font-weight: 700;
        letter-spacing: 0.04em;
    }

    .copyright {
        font-size: 1em;
    }
}

.footer.section__main {
    background: var(--color-bg-black);
    color: var(--color-white);
}