/* STYLESHEET: TEMPLATE - LOADING SCREEN */

.loadingScreen {
	position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: var(--color-bg-darkgray);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}