/* STYLESHEET: SECTION - MENU */

/* MENU - COMMON */
.menu,
.branding {
    font-weight: 400;
}

.menu__main {
    padding-top: 1em;
    padding-bottom: 1em;

    /* Glass BG */
    background: rgba(255,255,255,.15);
    //box-shadow: 0 4px 30px rgba(0,0,0,.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255,255,255,.35);

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    li {
        text-transform: uppercase;
        padding: 0.15em 0.75em 0.25em 0.75em;
        border-radius: 2em;
    }

    a {
        text-decoration: none;
        font-weight: 700;
    }

    a, a:active, a:visited, mark {
        color: var(--color-black);
    }
}