/* STYLESHEET: TEMPLATE - SECTION METAINFO */

.section__meta-information {
    color: var(--color-silver);
    width: 100%;

    h3, ul, li, p {
        line-height: 140%;
    }

    h3 {
        font-size: .75em;
    }

    ul, p {
        font-size: .65em;
    }
    
    h3, li, p {
        padding-bottom: 0;
    }

    h3 {
        text-transform: uppercase;
        font-family: "PPSupply", Arial, Helvetica, sans-serif;
    } 

    ul {
        line-height: 0;
    }
}

.section__meta-information:hover {
    transition: color;
    transition-duration: 400ms;
}

.section__analytics {
    p {
        display: inline-block;
    }

    p:first-of-type {
        padding-right: .25em;
    }

    p.analytics__data--num-reading-time {
        display: block;
    }
}

.section__tags {
    margin-top: 1em;

    li {
        display: inline;
        padding-right: .5em;
    }

    li:first-of-type {
        display: none;
    }

    li::before {
        content: "#";
    }
}

@media screen and ( min-width: 481px ) {
    .section__analytics,
    .section__tags {
        margin-top: 0;
        width: 50%;
        float: left;
    }
}