@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// PROJECT SINGLE VIEW
// --------------------------------------------------------------------------- //

.article__main {
	padding-top: 0;
    padding-bottom: 1em;
}

// --------------------------------------------------------------------------- //
// PROJECT GALLERY
// --------------------------------------------------------------------------- //

.project__single--gallery {
    list-style: none;
    padding: 0;
    margin: 2em 0;
    
    li {
        margin-bottom: 2em;
    }
    
    .showcase__grid--image {
        overflow: hidden;
        position: relative;
        height: auto;
        min-height: 48vw;
        border-radius: 16px;
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 2s;
        }
        
        &:hover img {
            scale: 1.05;
            transition: 2s;
        }
    }
}

.page--isphording-inneneinrichtung h1 {
    font-size: 3em;
}

.page--interior-visualization.lightmode {
    background: #fff;
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY <- 481px
// --------------------------------------------------------------------------- //

@media screen and ( max-width: 481px ) {
    .page--isphording-inneneinrichtung h1 {
        font-size: 1.4em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 481px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 481px ) {
    .page--isphording-inneneinrichtung h1 {
        font-size: 2.15em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 769px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 769px ) {
    .article__main {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .article__main--top {
        padding-top: 0;
    }

    .page--isphording-inneneinrichtung h1 {
        font-size: 2.85em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1025px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1025px ) {
    .page--isphording-inneneinrichtung h1 {
        font-size: 3.5em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1281px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1281px) {
    .article__main {
        padding-right: 15%;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1441px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1441px ) {
    .page--isphording-inneneinrichtung h1 {
		font-size: 4em;
	}
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1681px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1681px ) {
    .article__main {
        padding-right: 25%;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1921
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1921px ) {
    .article__main {
        padding-right: 35%;
        padding-bottom: 6em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 2161
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 2161px ) {
}
