@charset 'UTF-8';

// --------------------------------------------------------------------------- //
// PROJECT SINGLE VIEW
// --------------------------------------------------------------------------- //

.article__main {
	padding-top: 0;
    padding-bottom: 1em;
}

.page--isphording-inneneinrichtung .showreel__title h1 {
    font-size: 3em;
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 481px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 481px ) {

}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 769px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 769px ) {
    .article__main {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .article__main--top {
        padding-top: 0;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1025px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1025px ) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1281px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1281px) {
    .article__main {
        padding-right: 15%;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1441px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1441px ) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1681px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1681px ) {
    .article__main {
        padding-right: 25%;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1921
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1921px ) {
    .article__main {
        padding-right: 35%;
        padding-bottom: 6em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 2161
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 2161px ) {
}