/* STYLESHEET: TEMPLATE - TYPOGRAPHY */

// Defining the Fonts
@font-face {
	font-family: "Radio-Grotesk";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Radio Grotesk Regular"),
		url("./../../assets/fonts/RadioGrotesk-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Radio-Grotesk";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Radio Grotesk Bold"),
		url("./../../assets/fonts/RadioGrotesk-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Monument-Extended";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("MonumentExtended-Bold"),
		url("./../../assets/fonts/MonumentExtended-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Monument-Extended";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local("MonumentExtended-Black"),
		url("./../../assets/fonts/MonumentExtended-Black.otf") format("opentype");
}

@font-face {
	font-family: "Grafier-Regular";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Grafier Regular"),
		url("./../../assets/fonts/Grafier-Regular.otf") format("opentype");
}

body {
	font-family: 'Radio-Grotesk', Arial, Helvetica, sans-serif;
	font-size: 2.5vw;
	line-height: 120%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, em {
	font-family: 'Grafier-Regular', Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	line-height: 104%;
	letter-spacing: 0.04em;
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h1 {
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 0.6em;
	padding-bottom: .2em;
}

.section__headline h1 {
	font-family: "Grafier-Regular";
	font-weight: 700;
	letter-spacing: 0.06em;
	color: var(--color-black);
}

.showreel__title h1 {
	font-weight: 700;
	font-size: 2.5em;
	letter-spacing: -0.06em;
	color: var(--color-black);
	line-height: .85em;
}

.section__headline h1::first-line {
	font-weight: 400;
}

h2 {
	font-size: 1.75em;
	margin-top: .65em;
	line-height: 100%;
	text-transform: uppercase;
	color: var(--color-silver);
    margin-bottom: 1.5em;
}

p {
	font-size: 1.1em;
	padding-bottom: 1.25em;
	letter-spacing: .04em;
	font-weight: 700;
}

p.bildunterschrift {
	font-size: .5em;
	line-height: 1em;
	color: var(--color-silver-medium);
	letter-spacing: 0.05em;
}

em {
	line-height: 108%;
	font-size: 1.33em;
	font-style: normal;
}

ul, li {
	margin: 0;
    padding: 0;
}

.menu__main,
.menu__mobile,
.branding,
.footer__branding,
.large__quote,
.showreel__title h1 {
	font-family: 'Monument-Extended', Arial, Helvetica, sans-serif;
}

.large__quote {
	text-transform: uppercase;
	color: var(--color-white);
	mix-blend-mode: difference;
}

.intro__txt p {
    line-height: 95%;
    letter-spacing: -0.04em;
	padding-top: 0;
	padding-bottom: 0;
}

.navigation h3,
.project__single h3 {
	font-family: 'Radio-Grotesk', Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	margin-top: 1.1em;
    margin-bottom: 1em;
}

.project__single h3 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: .85em;
	letter-spacing: 0.05em;
	color: var(--color-silver-medium);
}

a,
a:active,
a:visited,
mark {
	color: var(--color-silver-medium);
}

a:hover {
	color: var(--color-blue);
	transition: color;
	transition-duration: 400ms;
}

a:hover mark {
	color: var(--color-blue);
	transition: color;
	transition-duration: 400ms;
}

.style__mono {
	font-family: 'IBM Plex Mono', monospace;
}

/* SECTIONS */
.section__bodycopy p {
	margin-top: 2.25em;
}

/* MOBILE */
@media screen and ( max-width: 480px ) {
	body {
		font-size: 5vw;
	}

	.intro__txt {
		padding-top: 2em;

		p {
			font-size: 1em;
		}
	}

	.showreel__title h1 {
		font-size: 2em;
	}

	.section__headline {
		min-height: 9em;
	}

	.section__bodycopy p {
		font-size: 4vw;
	}
}

/* TABLET PORTRAIT */
@media screen and ( min-width: 481px ) {
	body {
		font-size: 3.33vw;
	}

	.section__headline {
		min-height: 10em;
	}

	.intro__txt {
		padding-top: 2em;
		
		p {
			font-size: 1.85em;
		}
	}
}

/* TABLET LANDSCAPE & SMALL LAPTOPS */
@media screen and ( min-width: 769px ) {
	body {
		font-size: 2.5vw;
	}

	h1 {
		font-size: 5.5em;
	}

	.showreel__title h1 {
		font-size: 3.5em;
	}

	.section__headline {
		min-height: 13em;
	}

	.intro__txt p {
		font-size: 2em;
	}
}

/* LAPTOPS */
@media screen and ( min-width: 1025px ) {
	body {
		font-size: 2vw;
	}

	.intro__txt p {
		font-size: 2.5em;
	}

	.showreel__title h1 {
		font-size: 5em;
	}
}

/* MEDIUM LAPTOPS */
@media screen and (min-width: 1281px) {
	body {
		font-size: 1.75vw;
	}
}

/* LARGE LAPTOPS & SMALL DESKTOPS */
@media screen and (min-width: 1441px) {
	body {
		font-size: 1.5vw;
	}

	h1 {
		font-size: 6em;
	}

	.showreel__title h1 {
		font-size: 5.5em;
	}

	.page--isphording-inneneinrichtung h1 {
		font-size: 4.25em;
	}

	.section__headline {
		min-height: 14em;
	}
}

/* LARGER DESKTOPS */
@media screen and (min-width: 1921px) {
	body {
		font-size: 1.1vw;
	}
}

/* VERY LARGE DESKTOPS */
@media screen and (min-width: 2161px) {
	body {
		font-size: 1vw;
	}
}