/* IMPORT: GLOBAL STYLES */

@use 'templates/colors';
@use 'templates/typography';
@use 'templates/loadingscreen';

/* IMPORT: SNIPPETS */

@use 'templates/header';
@use 'templates/menu';
@use 'templates/footer';
@use 'templates/cookieconsent';

/* IMPORT: TEMPLATES */

@use 'templates/canvas';
@use 'templates/home';
@use 'templates/about';
@use 'templates/project';
@use 'templates/projects-showcase';
@use 'templates/related-showcase';
@use 'templates/imprint';

/* IMPORT: DEBUG */

@use 'templates/dev'; /* DEV ONLY */
@use 'templates/datgui';

/* MAIN STYLES */

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

ul, ol, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

figure {
	display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

mark {
    background: none;
}

video {
	width: 100%;
	max-width: 100%;
}

.grid__2-cols {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 2vw;
}

.section__main {
	padding-left: 4vw;
	padding-right: 4vw;
	background-color: var( --color-bg-light );
}

article.article__main.large__quote {
	position: relative;
	z-index: 99;
}

.section__content {
	display: grid;
	min-height: 65vh;
	grid-template-rows: max-content;
}

.parallax__layer {
	position: relative;
}

.parallax__layer--base {
	position: relative;
	padding-top: 6vw;
}

.parallax__layer--back {
	z-index: -1;
}

/* SECTION BODYCOPY = MAIN ARTICLE */

.section__bodycopy--divider {
	height: 2px;
	width: 100%;
	margin-top: 4em;
	margin-bottom: 2em;

	.divider__box {
		height: 4px;
		position: relative;
		top: -1px;
		width: 4em;
	}
}
ul,
ol {
	list-style: none;
}

.page--projects {
    main {
        margin-top: 5em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY <- 481px
// --------------------------------------------------------------------------- //

@media screen and ( max-width: 481px ) {
	.article__main.large__quote {
        font-size: 1.25em;
    }
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 769px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 769px ) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1025px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1025px ) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1281px
// --------------------------------------------------------------------------- //

@media screen and (min-width: 1281px) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1441px
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1441px ) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 1921
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 1921px ) {
}

// --------------------------------------------------------------------------- //
// MEDIA QUERY -> 2161
// --------------------------------------------------------------------------- //

@media screen and ( min-width: 2161px ) {
}
